* {
    margin: 0;
    padding: 0;
}
html,body {
    widows: 100%;
}
ul li{
    list-style: none;
    overflow: hidden;
}
.main {
    width: 100%;
}
.header {
    text-align: center;
    background-color:#eee;
    padding: 10px 5px;
}
.header p{
    font-weight: bold;
}
.search {
    width: 100%;
}
.search input {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    outline: none; /*去掉选中时的黄色框*/
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}
.message {
    flex: 1;
    padding: 10px;
    padding-top: 5px; 
    position: relative;
    padding-bottom: 22px;
}
.message::after {
    content: "";
    position: absolute;
    width: 140%;
    height: 1px;
    background: #eee;
    bottom: 0;
    left: 5px;
}
.name {
    font-style: 16px;
    font-weight: bold;
    margin-bottom: 8px;

}
.detail,time {
    font-style: 12px;
    clear: #555;
}

.content{
    width: 100%;
}
.content-items {
    width: 100%;
}
.content-item {
    display: flex;
    padding: 10px;
    align-items: top; /*弹性布局时上下居中*/
    
}
.left-pic {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden; 
}
.left-pic img{
    width: 100%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color:#eee;
    padding: 5px;
    border-top: 1px solid #aaa;
}
.ft-items {
    width: 100%;
    display: flex;
}
.item {
    flex: 1;
    text-align: center;
}
.item img {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.item-name {
    font-size: 12px;
    columns: #555555;
}