*
    margin 0
    padding 0

.header
    height 20vh
    border 1px solid red

.container
    height 80vh
    border 1px solid black
    // .themeWrap
	// 	width 900px
	// 	height 500px
	// 	position relative
    //     .themeList
    //         width 900px
    //         height 500px
    //         list-style none
    //         position relative
    //         padding-left 0
    //         .item
    //             position absolute
    //             width 100%
    //             height 100%
    //             color white
    //             font-size 50px
		
    //     .btn
    //         width 50px
    //         height 100px
    //         position absolute
    //         top 200px
    //         padding-left 0
    //         z-index 100
    //     #goPre
    //         left 0px
            
    //     #goNext
    //         right 0px
    //         .item.active
    //             z-index 10
    //     .themePointList
    //         padding-left 0
    //         list-style none
    //         position absolute
    //         right 20px
    //         bottom 20px
    //         z-index 1000
    //         .point
    //             width 8px
    //             height 8px
    //             background-color rgba(0,0,0,0.4)
    //             border-radius 100%
    //             float left
    //             margin-right 14px
    //             border-style solid
    //             border-width 2px
    //             border-color rgba(255,255,255,0.6)
                            
    //             cursor pointerthemeList
    //         .point.active
    //             border-color rgba(255,255,255,0.4)
			